



.text-black {
    color: #000;
    margin-bottom: 10px;
    line-height: 30px;
}


.text-black p{
    color: #000;
    margin-bottom: 10px;
    line-height: 30px;
}
table .text-black p{
    color: #000;
    line-height: 16px;
    margin-top: 20px;
}
.gold-bg{
    background: #f5c362;
}
.grey-bg{
background: #f7f7f7;
}
.col-pad{
    padding: 30px 20px;
}
.hero-section{
    background: url(images/hero-bg.png) no-repeat;
    background-size: cover !important;
    background-position: center center !important;
    padding-top: 80px;
    max-height: 580px;
    height: 100vh;
}
.hero-content h4, .hero-content h1 {
display: flex;
justify-content: center;
align-items: center;
}
.text-container{
    max-width: 410px;
}
.section-1 .adjust{
    max-width: 280px;
}
.section-1 .image-1{
position: absolute;
right: 20;
}
.section-1 .image-2{
    position: absolute;
    bottom: 20;
}
.section-1 .image-3{
    position: absolute;
    left: 20;
}
.section-1 .image-4{
    position: absolute;
    top: 20;
}
.section-1 .image-container{
    text-align: end;
}
.section-1{
    padding-top: 160px;
    padding-bottom: 80px;
}
.hero-section .cta-button{
    margin-top: 30px;
}
.section-2 .text-container{
    max-width: 400px;
}
.section-2{
    padding-top: 140px;
    padding-bottom: 75px;
}

.hero-content{
    padding-top: 210px;
}
body .section-3  .row-fluid .three-col-adjust .hs_cos_wrapper , body .section-10  .row-fluid .three-col-adjust .hs_cos_wrapper{
    max-width: 370px;
   
    border-radius: 4px;
    box-shadow: 0 30px 32px -4px rgb(0 0 0 / 13%);
    border: solid 1px rgba(1, 10, 96, 0.15);
    background-color: white;
    display: block;
 }
.card-text{
    padding: 30px;
}
.specialist-container{
    max-width: 370px;
   
    border-radius: 4px;
    box-shadow: 0 30px 32px -4px rgb(0 0 0 / 13%);
    border: solid 1px rgba(1, 10, 96, 0.15);
    background-color: white;
    padding: 70px 25px;
}
.specialist-container:nth-child(2){
    opacity: 0.8;
}
.specialist-container:nth-child(3){
    opacity: 0.3;
}
.bottom-text-container{
    max-width: 450px;
    padding-top:80px ;
}
.bottom-text .bottom-text-ocean-blue{
    color:#1F7AAD ;
}
.section-4{
    padding-top: 150px;
    padding-bottom: 70px;
}
.section-5 a{
    margin-top: 15px;
}
.section-6 .four-col-adjust{
    padding: 120px 0;
}
.span12.section-padding.section-6.grey-bg {
    clip-path: polygon(0 0, 100% 15%, 100% 82%, 0% 100%);
}
.pad-top-10{
    padding-top: 10px;
}
.dp1{
    position: relative;
    z-index: 1;
}
.dp2{
position: absolute;
z-index: -1;
right: 300px;
}
.dp3{
position: absolute;
z-index: -2;
right: 75px;
}
.footer{
    background: #1F7AAD;
}
.header{
    padding: 20px;
}

@media ( max-width:1024px){
    .hero-content{
        padding-top: 100px;
    }
    .hero-section{
        padding-top: 40px;
    }
    .table-container {
        overflow-x: scroll;
    }
    .section-1 img{
        max-width: 75%;
    }
    .section-1 {
        padding-top: 100px;
    }
    .section-2 {
        padding-top: 80px;
        padding-bottom: 0px;
    }
    .section-4 {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .section-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
@media ( max-width:1250px){
   .special-hide{
    display: none;
   }
}



@media ( max-width:767px){
    .section-6 .four-col-adjust{
        padding: 40px 0;
    }
    .section-4{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-2{
        padding-top: 40px;
        padding-bottom: 40px;

    }
    .section-2 .row-fluid{
        display: flex !important;
     flex-direction: column-reverse;
    }
    
    .hide-in-mobile {
        display: none !important;
    }

    .hide-in-desktop {
        display: block;
    }
    .section-padding-desktop{
        padding-top: 0;
    }
    
    .section-padding,  {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .mob-pad-40{
        padding-top: 40px;
    }
   .bottom-pad-20{
       padding-bottom: 0;
   }
    
    .text-center-in-mob{
        text-align: center;
    }
    .section-padding-up{
        padding-top: 40px;
    }
    .mgo-mob{
        margin: 0 auto;
    }
    .hero-content{
        padding-top: 100px;
    }
    .bottom-text-container {
        padding-top: 40px;
    }

    .span12.section-padding.section-6.grey-bg {
        clip-path: polygon(0 0, 100% 6%, 100% 95%, 0% 100%);
    }
    .section-1 {
        padding-top: 40px;
        padding-bottom: 41px;
    }
}